@mixin for-phone-only {

  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@import 'partials/variables';
@import 'partials/debug';
@import 'partials/master';
@import 'partials/objects';
@import 'partials/utilities';
@import 'partials/components';
@import 'partials/visuals'; //test @author

@include entry_compact{

}

@include entry_timeline{
  .rpsv-timeline{
    max-width: 100%;
    &.u-timeline-entry--right,&.u-timeline-entry--left{
      flex-direction: column;
    }
    .u-start_right, .u-start_left{
      align-items: flex-start !important;
      justify-content: center !important;
    }
    .u-timeline--main-head{
      margin-left: 0;
      margin-right: 0;
    }
    .c-entry-tag{
      left: .75rem;
    }
    .relative-cntr{
      flex-direction: row !important;
    }
    .v-timeline-entry-desc{
      margin-right: 0;
      margin-left: 0;
    }
    .u-timeline--ts_thumb{
      width: 100%;
      max-width: 100%;
    }
  }
  .rpsv-desc {
    display: flex !important;
  }
  .u-timeline--main-head{
    justify-content: flex-start;
    .v-timeline-entry-desc{
      display: none;
    }
  }
  #cntr-timeline{
    max-width: 34rem;
    width: 100%;
    .c-timeline-node--line{
      align-self: flex-start;
    }
  }
  #cntr-editors_pick .o--equalized{
    width: 100%;
    padding: 0;
    margin-bottom: 5rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
};

@include entry_compact{
  #cntr-category .o--equalized{
    width: 100%;
  }
}

.timeline-compact{
  max-width: 100%;
  display: flex;
  &.u-timeline-entry--right,&.u-timeline-entry--left{
    flex-direction: column;
  }
  .u-start_right{
    align-items: flex-start ;
    justify-content: center;
  }
  .u-timeline--main-head{
    margin-left: 0;
    margin-right: 0;
  }
  // .c-entry-tag{
  //   left: 1.25rem;
  // }
  .v-timeline-entry-desc{
    margin-right: 0;
    margin-left: .75rem;
  }
  .u-timeline--ts_thumb{
    width: 100%;
    max-width: 100%;
  }
  .rpsv-desc {
    display: flex;
  }
  .u-timeline--ts_thumb{
    max-height: 600px;
  }
}

@include variable_el{
  .u-padding-5 > .o--equalized{
    padding: calc(8% - 2.75rem);
  }
  // .rpsv-timeline{
  //   width: 
  //   .pusher{
  //     max-width: calc(2.5rem);
  //     flex-shrink: 0;
  //   }
  // }
}

@include category_table-tab{
  
}

// .rpsv-direction{
//   flex-direction: column;
// }

// .rpsv-desc {
//   display: flex;
// }
// .u-timeline--main-head{
//   #cntr-timeline{
//     max-width: 34rem;
//     width: 100%;
//     .c-timeline-node--line{
//       align-self: flex-start;
//     }
//   }
// }

.series-row { 
  display: flex;
  flex-direction: row;
  height: auto;
  &.--equalize-border{
    :not(:last-child){
        border-right: none;
    }
  }
  &.--equalize-margin{
    & >{
      div:last-child{
          margin-right: 0 !important;
      }
      li:last-child{
        margin-right: 0 !important;
    }
    }
  }
  &.u-start_right{
    justify-content: flex-end;
  }
  &.u-start_left{
    justify-content: flex-start;
  }
  &.u-timeline-entry--right{
    flex-direction: row-reverse;
  }
}

.series-col{ // TODO:30 Use JS to get inner child and emove borders
  display: flex;
  flex-direction: column;
  // outline: 1px solid $bp;
  // position: relative;
  &.--equalize-border{
    & > {
      & div:not(:first-child) > div{
        border-top: none;
      }
    }
  }
  &.--equalize-margin{
    & > {
      & div:first-child{
        margin-top: 0;
      }
    }
  }
  &.u-start_right{
    align-items: flex-end;
  }
  &.u-start_left{
    align-items: flex-start;
  }
}

.--row-trim-padding-upper{
  & > div{
    border-top: none;
    &:first-child{
      border-left: none;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.--row-trim-padding-lower{
  & > div{
    border-bottom: none;
    &:first-child{
      border-left: none;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.--row-trim-padding-both{
  position: relative;
  & > .o-custom-cat{
    border-top: none;
    &:first-child{
      border-left: none;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.table--category[min-width~="1000px"]{
  & > .o-custom-cat{
    &:nth-child(4n+1){
      border-left: none;
      // border: 1px solid red;
    }
    &:nth-child(-n+4){
      border-top: none;
    }    
  }
}
.table--category[min-width~="750px"][max-width~="999px"]{
  & > .o-custom-cat{
    &:nth-child(3n+1){
      border-left: none;
    }
    &:nth-child(-n+3){
      border-top: none;
    }
  }
} 
.table--category[min-width~="500px"][max-width~="749px"]{
  & > .o-custom-cat{
    &:nth-child(2n+1){
      border-left: none;
    }
    &:nth-child(-n+2){
      border-top: none;
    }
  }
} 
.table--category[min-width~="250px"][max-width~="499px"]{
  & > .o-custom-cat{
    &:nth-child(1n+1){
      border-left: none;
    }
    &:nth-child(-n+1){
      border-top: none;
    }
  }
} 



.--equalize-margin-both{
  & > div{
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

.rpsv-timeline{
  display: flex;
}

.rpsv-desc {
  display: none;
  max-height: 7rem;
  height: auto;
  padding-top: 1.5rem;
}

.u-timeline-entry--right{
  flex-direction: row-reverse;
}


//  </ DRAFT >



body{
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

*{
  box-sizing: border-box;
}

#nav-menu{
  margin-bottom: calc(-21px + 8px);
  list-style-type: none;
  a{
    text-decoration: none;
    font-size: 14px;
    color: #6E6E6E;
    font-weight: 500;
  }
  li{
    margin-right: 1.5rem;
  }
}

#hero-thumb{
  width: 100%;
  height: calc(100vh - 173px);
  padding: 1.5rem 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 76%, rgba(0,0,0,0.85) 96%, rgba(0,0,0,0.85) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0.85) 96%,rgba(0,0,0,0.85) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0.85) 96%,rgba(0,0,0,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 );
  }
}

#nav-head{
  @include center;
  // outline: 1px solid $bp;
  font-family: 'Georgia', serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
}

#nav-head-sub{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: .5em;
}

#cntr-hero{
  // overflow-x: visible !important;
  
}

.editors_pick-entry-post{
  width: 100%;
  height: 100%;
}

#cntr-upcoming-entry{
  padding: 8em 1em;
}

#cntr-editors_pick-entry{
  .timeline-compact{
    flex-direction: column;
    height: 40rem;
  }
}

.relative-cntr{
  display: flex;
  position: relative;
  // width: 100%;
  // justify-content: flex-start;
}

.pusher{
  max-width: 4.5rem;
  width: 100%;
  // background: red;
}

.ghost-gap{
  height: 100%;
  width: 2.5rem;
  background: red;
}

#cntr-nav{
  margin-bottom: 2rem;
}

#cntr-category-table{
  margin: 6rem 0;
}

#cntr-category{
  .o--equalized{
    height: 20rem;
  }
}

#cntr-editors_pick, #cntr-category{
  margin-bottom: 9rem;
}

.inv{
  visibility: hidden;
}

#cntr-editors_pick-head{
  margin-bottom: 6rem;
}

#cntr-editors_pick{
  .u-timeline--main-head{
    flex-shrink: 0;
  }
}

#nav-div_cta .c-div_cta-cta{
  padding: 9px 15px;
  border-radius: 6px;
  // border: 1px solid $cta-border;
  background: $cta-bg;
}

.category-row--entry_post{
  margin-top: 1.25em;
}

#nav-div_cta .c-div_cta-text{
  color: $cta-fg;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  @include center;
}

#cntr-timeline{
  margin: 0 auto;
  padding-top: 8rem;
}

.table--category{
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  width: 100%;
  position: relative;
}




.hero-title{
  font-size: 1.5rem;
  color: white;
  max-width: 25rem;
  z-index: 1;
}

.hero-title-cntr{
  display: flex;
  flex-flow: row nowrap;
  max-width: 1000px;
  width: 100%;
  position: relative;
  // padding-left: 18px;
  padding: 8px 18px;
  justify-content: flex-start;
  align-items: center;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background: white;
    opacity: .3;
  }
}

.hero-content{
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

//// Specifics

#\33 9{
  background-position: 50% 35% !important;
}

#\37 0{
  background-position: 50% 70% !important;
}